<div class="container">
  <h1>Reviews</h1>
    <div class="row">
      <% @reviews.each do | review | %>
        <ul>
          <li>
            <%= review.content %>
          </li>
        </ul>

      <% end %>
       <%= link_to "Back to list", restaurants_path %>
        <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
    </div>
</div>
